


.container {
    background-color: rgb(238, 138, 158);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container div {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 40;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container div a {
    text-decoration: none;
    color: inherit;
}

.container div:hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

@media only screen and (max-width: 980px) {
    .container div a {
        font-size: 10px;
        border: 2px;
        width: 30px;
    }

    .container div {
        width: 74px;
    }
}